.first{
  background-color: hsl(31, 77%, 52%);
  width: 300px;
  height: 360px;
  border-top-left-radius:10px;
  border-bottom-left-radius: 10px;
  position:absolute;
  margin-top: 180px;
  margin-left: 200px;
}
.sedan{
  padding-top:30px;
  padding-left:30px;
}

.second{
  background-color: hsl(184, 100%, 22%);
  width: 300px;
  height: 360px;
  position:absolute;
  margin-top: 180px;
  margin-left: 500px;

}

.suv{
  padding-top:30px;
  padding-left:30px;
}

.third{
  background-color: hsl(179, 100%, 13%);
  position:absolute;
  margin-top: 180px;
  margin-left: 800px;

  width: 300px;
  height: 360px;
  border-top-right-radius: 10px;
  border-bottom-right-radius:10px;

}

.luxury{
  padding-top:30px;
  padding-left:30px;
}

.one {
   -webkit-border-radius: 33px;
   -moz-border-radius: 33px;
   border-radius: 33px;
   font-family: Verdana;
   font-size: 15px;
   color: hsl(31, 77%, 52%);
   padding: 10px 15px 10px;
   background-color: white;
   border: dotted white 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-left: 50px;
   margin-top: 10px;
}

.two {
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  border-radius: 33px;
  font-family: Verdana;
  font-size: 15px;
  color: hsl(184, 100%, 22%);
  padding: 10px 15px 10px;
  background-color: white;
  border: dotted white 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-left: 50px;
  margin-top: 10px;
}

.three {
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  border-radius: 33px;
  font-family: Verdana;
  font-size: 15px;
  font-weight: 60;
  color: hsl(179, 100%, 13%);
  padding: 10px 15px 10px;
  background-color: white;
  border: dotted white 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-left: 50px;
  margin-top: 30px;
}

h1{
  padding-left: 30px;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Big Shoulders Display', cursive;
}

p{
  padding-left: 30px;
  margin-right: 30px;
  text-align: left;
  line-height: 1.5;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  width: 80%
}

@media screen and (min-width: 720px) {
  .main {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
